/app/tmp/*
/app/tmp/cache/models/myapp_cake_model_default_nadia_list
/app/tmp/cache/*
/app/tmp/logs/*
/app/tmp/logs/error.log
/app/tmp/cache/models/myapp_cake_model_default_nadia_boutique
/app/tmp/cache/models/myapp_cake_model_default_nadia_panier_commands
/app/tmp/cache/models/myapp_cake_model_default_nadia_users
/app/tmp/cache/models/myapp_cake_model_default_nadia_adresse_pofiles
/app/tmp/cache/persistent/myapp_cake_core_cake_fr-fr
/app/tmp/cache/persistent/myapp_cake_core_debug_kit_fr-fr
/app/tmp/cache/persistent/myapp_cake_core_default_fr-fr
/app/tmp/cache/persistent/myapp_cake_core_file_map
/app/tmp/cache/persistent/myapp_cake_core_method_cache
/app/tmp/cache/cake_toolbar_cache
/app/tmp/cache/cake_toolbar_cache2371ba013ff782a2463c513c12cf8c12
/app/tmp/cache/cake_toolbar_cache1d7b49cd5ac5a419269654be608ac459
