#editAdminList > li > a{
    width: 20px;
    height: 20px;
display:block;
    }

#editAdminList > li{

display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url('../img/editcolor.png');
    z-index:5;

}
#editAdminList{
    position:absolute;
        z-index:5;
}

.button-command{
display: inline-block;
margin-right: 0px;
}

.command-con>h5{
display: inline-block;

}

.command-con{
border-top: 1px black solid;
}

div.choixAdress div.check{
background: #d8d8d8;
border-left:1px #5b6554 solid;
border-right:1px #5b6554 solid;
padding: 5px;
}

.goRight{
margin-right: 0px;

}

div#content{
padding-top: 20px;
padding-bottom: 20px;
}


#editAdmin{
    width: 20px;
    height: 20px;
    background-image: url('../img/editcolor.png');
    display:inline-block;
    position: absolute;
}


body{
 background: black;   
}
.espacejj{
    
 margin-top: 20px;
    

}
.row{
 background: white;   
}
#searchbar{
    position:relative;
    width:840px;
    height:auto;
    display:inline-block;
    margin-top: 20px;
}
#searchbar .text{
    width:200px;
    float:left;    
}
#searchbar .champ{
    width:300px;
    height:35px;
    float:left;
}
#searchbar .bouton{
    margin-top: 3px;
    margin-left: 3px;
    background-image: url(../img/loupe.jpg);
    width: 20px;
    height: 25px;
    padding: 0;
    border:none;
    float:left;
}



#nousre{
text-align: left;
margin-left: 10px;
    font-family: Helvetica neue,Helvetica,Arial;
font-size: 1.6em;
margin-top: 15px;
margin-bottom: 30px;}

.center{
    
    margin: auto;
  width: auto;
    display: table;
    
    
    
}
#copy{
    font-family:  georgia;
  margin-top: 10px;
    font-size: 0.7em;
    text-align: right;
    margin-bottom: 0px;
    
}
#pani{
    
padding-left: 10px;
padding-top: 10px;
    
    
}



#accroche{text-align: justify; background: #445454; padding: 15px; border-radius: 5px; margin: auto; color: white; font-family:Trebuchet MS; width: auto; width: auto; display: table; max-width: 600px;}
    
    
.trait2{width: 500px;border-bottom: 1px solid black;margin: auto; display: table;margin-bottom: 15px;}


.trait3{width: 85%;border-bottom: 1px solid #C1AFA3;margin-top: 70px; margin-left: auto; margin-right: auto; margin-bottom: 0px; }


#dessous{
    padding-top: 10px;
    text-align: center;
    font-family: arial;
    
}
  



.text{
    
 text-align: center;   
}

.hov{ color: #e0dfdf }

.trait{width: 200px;border-bottom: 1px solid black;margin: auto; display: table;margin-bottom: 15px;}


.pi-text-center:hover { color: #e0dfdf;
}
.pi-text-center
{
text-align: center;
color:white;

}

a.pi-text-center{
display: block;
}

li.separbot > a {
    padding-bottom: 20px;
    padding-top: 20px;
}
li.separbot{
    list-style-type: none;
    border-right : 1px solid white;
    border-bottom: 1px solid white;
    padding: 0px;

}
li.separbot:hover{
background: #656565;}

li.separbot div.panel{
    
   line-height : 20px;
    
    background: none;
    border: none;
    margin-bottom: 10px;
    margin-top: 10px;

}

.menu-generale {
    background: #999994;
}

.margin-menu {
    padding-left:  2rem;
    padding-right: 2rem;
    padding-top: 1rem;
    
}


.element-article-img{
    
    padding-left: 10px;
    padding-right: 10px;
    display: table;
    margin: auto;
    
}



.ajoutpanier{   
    
    text-align: right;
    
}




#prix-article{
    font-family: arial;
    font-size: 15px;
    padding-left: 15px;

   text-align: center;
    margin-top: 30px;
}

@media only screen and (max-width:64.063em) {
 #prix-article {
    margin-top: 30px;
 }
}
@media only screen and (max-width:64.063em) {
.txt-debordement-article{
    margin-top: 10px;
}
    
}




.text-center1{
text-align: center !important; 
font-family: arial;
font-size: 2em;}




.txt-debordement-article {
   
    width: 100%;
    overflow: hidden;
    height: 50px;
    text-overflow: ellipsis; 
    padding-bottom: 20px;
    
}

.inline-text {
    display: inline;
}

.savoir-article {
    text-align: center;
}



.panel-noborder {
    border: none;
}



.transition-souris {
    background: white ;
     -webkit-animation: lap 0.3s; 
    animation: lap 0.3s;}

.transition-souris:hover {
   
    background: white;
    -webkit-animation: myfirst 0.3s; 
    animation: myfirst 0.3s;
    background: #F0F0F0;
}


@-webkit-keyframes myfirst {
    from {background: white;}
    to {background: #F0F0F0;}
}

@keyframes myfirst {
    from {background: white;}
    to {background: #F0F0F0;}
}

@-webkit-keyframes lap {
     from {background: #F0F0F0;}
    to {background: white;}
}

@keyframes lap {
    from {background: #F0F0F0;}
    to {background: white;}
}


.barsearch {
    display: table;
    width: auto;
    margin-top: 30px;
}

.hauteur-elmt {
min-height: 700px;
    max-height: 700px;
height: 700px;


}

.surarticle {
    text-align: justify;
    padding: 10px;
}

.espace-barre2 {
    margin-top: 35px;
    padding-left: 27%;
}

.class-panier {
    font-family: arial black;
padding-right: 8%;
    text-align: center;
}

.espace-barre {
    margin-top: 35px;
}

.hoverdubutton {
    color: white;
    opacity: 0;
}

.buttonpanierr {


    border: 1 px solid black;
    color: black;
    padding-top: 5px;


}


.buttonpanierr:hover {


    border: 1 px solid black;
    color: black;



}
.inscri{

 color:black;
    font-family: Geogia;
    font-size: 20px;
    padding: 35px;



}

.espacejjj {
   margin-top:  50px;
}

.moinplus {

}

.moin {

    font-size: 25px;
   margin-top: 10px;
    font-family: arial;


}

.plus {

     font-size: 20px;
   margin-top: 10px;
    font-family: arial;


}

.nombre {
    font-size: 20px;
}



.recap {
    text-align: center;
    font-family: arial;
    font-size: 25px;
}

.tabb2 {
    width: 25%;
}
.livraison{

    text-align: center;

    margin-top: 20px;
    font-size: 18px;
    font-family: arial;

    display: table;
    margin-left: auto;
    margin-right: auto;
}

.tailletab {
    width: 100%;
}

.log>div>label {
    text-align: left;
    margin-top: 20px;
    font-size: 20px;
    font-family: arial;
}

.decal {
    margin-left: 20px;
    margin-right: 20px;
}



h5.adresse {
   margin-left: 30px;


}

.adressecont {
    border-bottom: 1px black solid;
}

.justify {
    text-align: justify;
}

.hul {

    margin: 5px;

}

.hul2 {
      border: 3px solid #045656;
    margin: 1px;
}

#nousre2 {
    text-align: left;
    margin-left: 15px;

font-size: 1.8em;
margin-top: 15px;
margin-bottom: 30px;
}

.font-footer {

    background: #FAF7E9;
    border-left: 2px solid #C1AFA3;
    border-top: 2px solid #C1AFA3;
    border-right: 2px solid #C1AFA3;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}



.place2 {
    padding-top: 5px;
    display: table;
    margin: auto;
    width: auto;
}

.place {
    padding-top: 15px;
}

.mise-forme {
    text-align: right;



margin-top: 30px;

}

.position-bas {
    padding-top: 80%;

}

.hauteur-home {
    min-height: 500px;
    max-height: 500px;
height: 500px;

}

.up-pad {
    padding-top: 10%;
}

.place-elt {
    height: 70%;
}

.place-elt2 {
    height: 80%;
}

#prix-article2 {
        font-family: arial;
    font-size: 15px;
    padding-left: 15px;

   text-align: left;
    margin-top: 30px;
}

.trad {
    font-family: georgia;
    font-size: 1.5em;
}

.espacetop {
    margin-top: 25px;
}

.inline-block {
    display: inline-block;
    width: auto;
    margin: auto;
    height: auto;


}

.adresse2 {
    margin-top: 30px;
}
.margindutop{

    margin-top: 30px;
}
.pad {
    padding-bottom: 10px;
}

#nousre show-for-large show-for-medium {
    font-family: Georgia;
    font-size: 1,5em;

}

.heightbody {
    min-height: 475px;
}
.styleinscription{
 text-align: left ;
}

.Payement {
    font-family: georgia;
    font-size: 1.2em;
    text-align: center;
    padding: 10px;
   border-bottom: 1px solid black;
    border-top: 1px solid black;
    margin-top: 60px;



}

.espace-top {
    margin-top: 40px;
}

.imagePay{
 width: 300px;
    height: auto;
    display: table;
    margin: auto;

}

.center-text{
    font-family: arial;
    font-size: 1.4em;
    text-align: center;



}


.paging {
    padding: 10px;
}
